:root{
    --mf:'Roboto', sans-serif;
    --sf:'Roboto Slab', serif;
    --hc:#28b8d8;
    --pc:#666666;
    --pc1:#999999;
    --smal1:;
    --mc:#ffff;
    --hdc:#444444;
}
/*==========
common css start
============*/
*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.full-wrapper{
    width: 100%;

}
/*==========
common css end
============*/
/* proloder */
.preloder{
    width: 100%;
    height: 100vh;
    position: fixed;
    background:#333333;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloder-one{width: 100px;height: 100px;background: blue;position: relative;overflow: hidden;}
.preloder span{

/* position: absolute; */

width: 100%;

height: 6px;

position: absolute;
}
.preloder span:nth-child(1){
    background: white;
    left:-100%;
    top: 0;
    animation-name: box1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
@keyframes box1{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
.preloder span:nth-child(2){
    width: 100%;
    height: 6px;
    bottom: 0;
    background: yellow;
    right: -100%;
    animation-name: box2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes box2{
    0%{
        right:-100%;
    }
    100%{
        right: 100%;
    }
}

.preloder span:nth-child(3){
top: -100%;
right: 0;
width: 6px;
height: 100%;
   background: red;
   animation-name: box3;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes box3{
    0%{
        top:-100%;
    }
    100%{
        top: 100%;
    }
}

.preloder span:nth-child(4){

    width: 6px;
    bottom: -100%;
    height: 100%;
    left: 0;
    background: gray;
    animation-name: box4;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes box4{
    0%{
        bottom:-100%;
    }
    100%{
        bottom: 100%;
    }
}
/*==========
nav-section start
============*/
nav{
    position: absolute;
    width: 100%;
    height: 90px;
    background: #00000070;
    z-index: 999;
    transition: all linear .5s;
    -moz-transition: all linear .5s;
}
.bg{
    position: fixed;
    top:0;
    background: rgb(19, 0, 0);
    left: 0;
    
}
nav .navber{
    height: 90px;
    display: flex;

}
nav .navber .logo{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}
nav .navber .logo img{
    width: 100%;
}
nav .navber .nav-list{
    width: 950px;
    height: 100%;
}
nav .navber .nav-list ul{
    display: flex;
    align-items:center;
    height: 90px;
    justify-content: flex-end;
}
nav .navber .nav-list ul li{

}
nav .navber .nav-list ul li a{
    text-transform:uppercase;
    color:var(--mc);
    font-family:var(--mf);
    font-size: 14px;
    padding:0 22px;
    font-weight: 700;
    transition:all linear .4s;
    -moz-transition:all linear .4s;
    -webkit-transition:all linear .4s;
    -o-transition:all linear .4s;
}
nav .navber .nav-list ul li a:hover{
    color: var(--hc);
}
nav .navber .nav-list ul li a:last-child{
    padding-right: 15px;
}
nav .navber .socail-icon{
    width: 120px;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
nav .navber .socail-icon::after{
    content: '';
    position: absolute;
    height: 32px;
    width:3px;
    left: 0;
    top: 30px;
    background:rgba(255, 255, 255, 0.15);
}
nav .navber .socail-icon a{
    margin-left: 18px;
    color:var(--mc);
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
nav .navber .socail-icon a:hover{
    color: var(--hc);
}
/*==========
nav-section end
============*/
/*==========
hero-section start
============*/
#banner-bg{
    width: 100%;
    height: 700px;
    background: url(../imges/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#banner-bg .banner{
    text-align: center;
}
#banner-bg .banner h1{
    padding-top: 330px;
    font-size: 50px;
    font-family: var(--mf);
    font-weight: bold;
    text-transform:uppercase;
    color:var(--mc);
}
#banner-bg .banner h3{
    font-size: 40px;
    font-weight: 300;
    font-family: var(--sf);
    color: var(--mc);
    text-transform:uppercase;
    padding:0 24px;
}
#banner-bg .banner p{
    color: var(--mc);
    font-size: 14px;
    font-family: var(--sf);
    font-weight: 300;
    text-transform: capitalize;
}
/*============
 hero-section end
 ========== */
 /*============
 service-section start
 ==========*/
 #service-bg{
     width: 100%;
     height: 547px;
     padding:80px 0;
     background: #f9f9f9;
 }
 #service-bg .service{
     height: 100%;
 }
 #service-bg .service .service-heading{
     text-align: center;
     height: 190px;
 }
 #service-bg .service .service-heading h2{
     font-size: 300px;
     color:var(--hdc);
     font-size:30px;
     font-weight: 300;
     font-family:var(--sf);
 }
 #service-bg .service .service-heading p{
     font-family: var(--mf);
     color:var(--pc);
     font-size: 14px;
     font-weight: 400;
     padding-top:25px;
 }
 #service-bg .service .service-heading .titel{
     padding-top: 78px;
 }
 #service-bg .service .service-heading .titel h4{
     text-transform: uppercase;
     font-size: 18px;
     color: var(--hdc);
     font-family:var(--mf);
     font-weight:600;
 }
 #service-bg .service .service-content{
     display:flex;
     height: 357px;
     justify-content: space-between;
 }
 #service-bg .service .service-content figure{
     width: 370px;
     text-align: center;
     padding: 16px;
     box-sizing: border-box;
     border: 1px solid #e3e3e3;
 }
 #service-bg .service .service-content figure img{
     width: 100%;
 }
 #service-bg .service .service-content figure figcaption{
     width: 100%;
 }
 #service-bg .service .service-content figure figcaption h3{
     font-family: var(--sf);
     font-size: 17px;
     color:var(--hdc);
     text-transform: capitalize;
     padding-top: 25px;
     padding-bottom:18px;
 }
 #service-bg .service .service-content figure figcaption p{
     font-size: 14px;
     line-height: 22px;
     color: var(--pc);
     font-family:var(--mf);
     font-weight:400;
     padding:  0 18px;
 }
 /*============= 
 serviece-section and
 ============*/
 /*============= 
 gallery-section start
 ============*/
 #gallery-bg{
     height: 440px;
     width: 100%;
     background: #2c2c2c;
     padding:80px 0;
 }
 #gallery-bg .gallery-heading{
     text-align: center;
     width: 430px;
     margin: 0 auto;
     height: 46px;
     position: relative;
 }
 #gallery-bg .gallery-heading span{
     width: 102px;
     height:3px;
     background: #535353;
     display: block;
     position: absolute;
 }
 #gallery-bg .gallery-heading span:nth-child(1){
    top: 13px;
    left: -7px;
 }
 #gallery-bg .gallery-heading span:nth-child(2){
    top: 7px;
    left: -7px;
}
 #gallery-bg .gallery-heading span:nth-child(3){
     top: 7px;
     right: -7px;
 }
 #gallery-bg .gallery-heading span:nth-child(4){
    top: 13px;
    right:-7px;    
 }
 #gallery-bg .gallery-heading h3{
     font-size: 18px;
     font-family: var(--mf);
     color:#d5d5d5;
     text-transform:uppercase;
     font-weight:600;
 }
 #gallery-bg .gallery-content{
     display: flex;
     height: 302px;
     justify-content: space-between;
 }
 #gallery-bg .gallery-content figure{
     width:350px;
     height: 100%;
 }
 #gallery-bg .gallery-content .gallery-item{
     width:126px
 }
 #gallery-bg .gallery-content figure img{
     width: 100%;
     height: 100%;
 }
 #gallery-bg .gallery-bottom{
     width: 100%;
     height: 92px;
     text-align: center;
 }
 #gallery-bg .gallery-bottom a{
    font-size: 14px;
    font-family: var(--mf);
    color: #a6a6a6;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 1px solid #a6a6a6;
    line-height: 123px;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#gallery-bg .gallery-bottom a:hover{
    box-shadow:0 0 10px #a6a6a6, 0 0 40px #a6a6a6, 0 0 80px #a6a6a6;
}
 #gallery-bg .gallery-bottom a i{
     padding-right: 12px;
 }
 /*==========
 gallery-section end
 ============*/
 /*==========
 blog-section start
 ============*/
 #blog-bg{
     height:510px;
     width: 100%;
     padding: 80px 0;
     background: #f9f9f9;
 }
 #blog-bg .blog{
     height: 100%;
 }
 #blog-bg .blog .blog-heading{
    text-align: center;
    width: 430px;
    margin: 0 auto;
    height: 46px;
    position: relative;
 }
 #blog-bg .blog .blog-heading span{
    width: 102px;
    height:1px;
    background: #535353;
    display: block;
    position: absolute;

 }
 #blog-bg .blog .blog-heading span:nth-child(1){
    top: 13px;
    left:24px;
 }
 #blog-bg .blog .blog-heading span:nth-child(2){
    top: 7px;
    left:24px;
 }
 #blog-bg .blog .blog-heading span:nth-child(3){
    top: 7px;
    right:24px
 }
 #blog-bg .blog .blog-heading span:nth-child(4){
    top: 13px;
    right:24px
 }
 #blog-bg .blog .blog-heading h3{
    font-size: 18px;
    font-family: var(--mf);
    color:var(--hdc);
    text-transform:uppercase;
    font-weight:600;

 }
 #blog-bg .blog .blog-content{
     height: 462px;
     display: flex;
     justify-content: space-between;
 }
 #blog-bg .blog .blog-content figure{
     height: 100%;
     width: 370px;
     border: 1px solid #e3e3e3;
     box-sizing: border-box;
     background: var(--mc);
 }
 #blog-bg .blog .blog-content figure .blog-titel{
     text-align: center;
     height: 91px;
 }
 #blog-bg .blog .blog-content figure .blog-titel h4{
     font-family: var(--sf);
     font-size: 16px;
     color: var(--hdc);
     font-size: 16px;
     font-weight:600px;
     padding-top: 28px;
 }
 #blog-bg .blog .blog-content figure .blog-titel p{
     font-family: var(--mf);
     font-size: 12px;
     color:var(--pc1);
     padding-top: 15px;
     font-weight:400;
 }
 #blog-bg .blog .blog-content figure .blog-imges{
     width: 100%;
     height: 222px;
 }
 #blog-bg .blog .blog-content figure .blog-imges img{
     width: 100%;
 }
 #blog-bg .blog .blog-content figure .blog-text{
     width: 100%;
     height: 149px;
     padding: 20px;
     box-sizing: border-box;
 }
 #blog-bg .blog .blog-content figure .blog-text p{
     font-size: 14px;
     line-height: 22px;
     font-family:var(--mf);
     color: vara(--pc1);
     font-weight: 400;

 }
 #blog-bg .blog .blog-content figure .blog-text .blog-coment{
     height:57px;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 #blog-bg .blog .blog-content figure .blog-text .blog-coment a{
     color: var(--pc1);
     font-size: 11px;
     font-family: var(--mf);
     font-weight: 400;
     position: relative;

 }
 #blog-bg .blog .blog-content figure .blog-text .blog-coment a::after{
     content: "";
     position: absolute;
     width: 100%;
     height: 2px;
     left: 0;
     bottom:-5px;
     background: #28b8d8;
 }
 #blog-bg .blog .blog-content figure .blog-text .blog-coment i{
     font-size: 14px;
     padding-right: 3px;
     transition: all linear .4s;
    -moz-transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -o-transition: all linear .4s;
 }
 #blog-bg .blog .blog-content figure .blog-text .blog-coment i:hover{
     color: rgb(184, 54, 54);
 }
 #blog-bg .blog .blog-content figure .blog-text .blog-coment span{
    font-size: 14px;
    color:var(--pc1) ;
    cursor: pointer;
 }
 /*========== blog section end========== */
 #about-bg{
     height: 326px;
     padding: 80px 0;
     background: #f9f9f9;
 }
 #about-bg .about{
     height: 100%;
     display: flex;
     justify-content: space-between;
 }
 #about-bg .about .about-infromation{
     width: 570px;
     height: 100%;
     
 }
 #about-bg .about .about-infromation .about-heading{
     height: 44px;
     width:274px;
     position: relative;
 }
 #about-bg .about .about-infromation .about-heading span{
    width: 102px;
    height:1px;
    background: #535353;
    display: block;
    position: absolute;
 }
 #about-bg .about .about-infromation .about-heading span:nth-child(1){
     right: 0;

     top: 14px;
 }
 #about-bg .about .about-infromation .about-heading span:nth-child(2){
     right:0;

     top: 9px;
 }
 #about-bg .about .about-infromation .about-heading h3{
    font-size: 18px;
    font-family: var(--mf);
    color:var(--hdc);
    text-transform:uppercase;
    font-weight:600;

 }
 #about-bg .about .about-infromation .about-content{
     height: 282px;
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
 #about-bg .about .about-infromation .about-content .about-imges{
     width: 197px;
     height: 100%;
 }
 #about-bg .about .about-infromation .about-imges img{
     width: 100%;
 }
 #about-bg .about .about-infromation .about-data{
     width:373px;
     height: 100%;
     padding-left:26px;
     box-sizing: border-box;
 }
 #about-bg .about .about-infromation .about-content .about-data h2{
     font-family:var(--sf);
     font-size: 18px;
     font-weight: 300;
     color:var(--pc);
 }
 #about-bg .about .about-infromation .about-content .about-data p{
     font-family: var(--mf);
     font-size: 14px;
     font-weight: 600;
     line-height: 26px;
     color: var(--pc);
     padding-top: 30px;
 }
 #about-bg .about .about-text{
     width: 570px;
     height: 326px;
     /*! display: flex; */
     /*! flex-wrap: wrap; */
     /*! align-content: space-around; */
 }
 #about-bg .about .about-text .about-text-heading{
    height: 44px;
    width:221px;
    position: relative;
}
#about-bg .about .about-text .about-text-heading  span{
   width: 102px;
   height:1px;
   background: #535353;
   display: block;
   position: absolute;
}
#about-bg .about .about-text .about-text-heading  span:nth-child(1){
    right: 0;

    top: 14px;
}
#about-bg .about .about-text .about-text-heading span:nth-child(2){
    right:0;

    top: 9px;
}
#about-bg .about .about-text .about-text-heading h3{
   font-size: 18px;
   font-family: var(--mf);
   color:var(--hdc);
   text-transform:uppercase;
   font-weight:600;

}
#about-bg .about .about-text .about-text-content{
    height:282px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*! align-content: space-between; */
    align-content: space-between;
}
#about-bg .about .about-text .about-text-content .content-list{
    display: flex;
    width: 100%;
    height: 90px;

}
#about-bg .about .about-text .about-text-content .content-list .content-item1{
    height: 100%;
    width: 12.3%;

}
#about-bg .about .about-text .about-text-content .content-list .content-item1 i{
    font-size: 40px;
    color: var(--hc);

}
#about-bg .about .about-text .about-text-content .content-list .content-item2{
    height: 100%;
    width: 87.7%;
}
#about-bg .about .about-text .about-text-content .content-list .content-item2 h4{
    font-family: var(--sf);
    font-size: 17px;
    font-weight: 600;
    color: var(--hdc);
    text-transform:capitalize;

}
#about-bg .about .about-text .about-text-content .content-list .content-item2 p{
   font-family:var(--mf);
   font-size: 14px;
   font-weight:400;
   line-height: 22px;
   color: var(--pc);
   padding-top: 21px;
   text-transform:capitalize;
}
/*===========
about-section 
========== */
/*===========
footer-section start
========== */
#footer-bg{
    width:100%;
    height: 222px;
    padding:80px 0;
    background: #373737;
}
#footer-bg .footer{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#footer-bg .footer .footer-item{
    width: 24%;
    height: 100%;
}
#footer-bg .footer .footer-item h4{
    font-size: 16px;
    font-family: var(--mf);
    color: #f0f0f0;
    padding-bottom: 24px;
    font-weight:600;
    text-transform:uppercase;
}
#footer-bg .footer .footer-item p{
    font-family: var(--mf);
    font-size: 14px;
    font-weight:400;
    color:#cacaca;
    padding-bottom:15px;
}
#footer-bg .footer .footer-item p span{
    display: block;
    font-size: 12px;
    color: #929292;
    font-weight: 400;
    padding-top: 5px;
}
#footer-bg .footer .footer-item .footer-content{
    display: flex;
    height: 38px;
    width: 100%;
    padding-bottom: 12px;
}
#footer-bg .footer .footer-item .footer-content .location{
    width: 26px;
    box-sizing: border-box;
    height: 100%;

}
#footer-bg .footer .footer-item .footer-content .location i{
    color: #f9f9f9;

}
#footer-bg .footer .footer-item .footer-content .location .address{
    width: 178px;
    height: 26px;
}
#footer-bg .footer .footer-item .footer-content .location .address p{
    
}
#copy-section{
    height: 90px;
    width: 100%;
    background: #333333;
}
#copy-section .copy{
    display: flex;
    align-items: center;
    
}
#copy-section .copy p{
    line-height: 90px;
    font-family: var(--mf);
    font-size: 14px;
    color: #cacaca;
}
.bottom-top{
    width: 50px;
    height: 50px;
    background: #744fa0;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    display: none;
}
/*============footer and========= */