:root{
    --mf:'Roboto', sans-serif;
    --sf:'Roboto Slab', serif;
    --hc:#28b8d8;
    --pc:;
    --smal1:;
    --mc:#ffff;
}
/*==========
common css start
============*/
*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.full-wrapper{
    width: 100%;

}
/*==========
common css end
============*/
/*==========
nav-section start
============*/
nav{
    position: absolute;
    width: 100%;
    height: 90px;
    background: rgba(0, 0, 0, 0.44);
}
nav .navber{
    height: 90px;
    display: flex;

}
nav .navber .logo{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}
nav .navber .logo img{
    width: 100%;
}
nav .navber .nav-list{
    width: 950px;
    height: 100%;
}
nav .navber .nav-list ul{
    display: flex;
    align-items:center;
    height: 90px;
    justify-content: flex-end;
}
nav .navber .nav-list ul li{

}
nav .navber .nav-list ul li a{
    text-transform:uppercase;
    color:var(--mc);
    font-family:var(--mf);
    font-size: 14px;
    padding:0 22px;
    font-weight: 700;
    transition:all linear .4s;
    -moz-transition:all linear .4s;
    -webkit-transition:all linear .4s;
    -o-transition:all linear .4s;
}
nav .navber .nav-list ul li a:hover{
    color: var(--hc);
}
nav .navber .nav-list ul li a:last-child{
    padding-right: 15px;
}
nav .navber .socail-icon{
    width: 120px;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
nav .navber .socail-icon::after{
    content: '';
    position: absolute;
    height: 32px;
    width:3px;
    left: 0;
    top: 30px;
    background:rgba(255, 255, 255, 0.15);
}
nav .navber .socail-icon a{
    margin-left: 18px;
    color:var(--mc);
}
nav .navber .socail-icon a:last-child{
    
    
}